{
  "openapi": "3.1.0",
  "info": {
    "title": "Chipper Platform API",
    "version": "2026-02-20",
    "description": "Payouts, collections, and FX across African rails (bank, mobile money, and stablecoins) through one API."
  },
  "servers": [
    {
      "url": "https://api.platform.chipper.ai",
      "description": "Production (sk_live_ keys)"
    },
    {
      "url": "https://sandbox-api.platform.chipper.ai",
      "description": "Sandbox (sk_test_ keys: simulated rails, no real money)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API key: `sk_test_…` (sandbox) or `sk_live_…` (production)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable machine-readable code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "requestId": {
            "type": "string",
            "description": "Echoed in the x-request-id response header. Quote it to support."
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org_umcdhbyu1ut41xkpxbvf"
          },
          "name": {
            "type": "string",
            "example": "Zouk Inc."
          },
          "country": {
            "type": "string",
            "example": "GH"
          },
          "timezone": {
            "type": "string",
            "example": "Africa/Accra"
          },
          "defaultCurrency": {
            "type": "string",
            "example": "GHS"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "country",
          "timezone",
          "defaultCurrency",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The identifier you pass as `code` on recipients, payouts, and collections.",
            "example": "gh_mtn"
          },
          "name": {
            "type": "string",
            "example": "MTN Mobile Money"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile_money",
              "bank_transfer",
              "crypto",
              "wallet"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "operational",
              "degraded",
              "outage"
            ],
            "description": "Live health from the last 30 minutes of traffic on this rail."
          },
          "limits": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "min": {
                "type": "number",
                "example": 1
              },
              "max": {
                "type": "number",
                "example": 50000
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "min",
              "max",
              "currency"
            ],
            "description": "Per-transaction bounds, or null when the rail has none configured."
          },
          "estimatedSettlement": {
            "type": "string",
            "description": "How long the receiver typically waits: `instant`, a minute range, or `varies`.",
            "example": "0-5 minutes"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The recipient/charge field this describes: `accountNumber` for fiat rails, `address` for crypto.",
                  "example": "accountNumber"
                },
                "label": {
                  "type": "string",
                  "example": "Phone Number"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "phone",
                    "select"
                  ]
                },
                "placeholder": {
                  "type": "string",
                  "example": "+233XXXXXXXXX"
                },
                "description": {
                  "type": "string"
                },
                "group": {
                  "type": "string",
                  "description": "Fields sharing a group are alternatives; collect one of them."
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "label",
                      "value"
                    ]
                  },
                  "description": "Choices for `select` fields."
                }
              },
              "required": [
                "key",
                "label",
                "type"
              ]
            },
            "description": "What to collect from the user to address this method. Drive your form from this instead of hardcoding per rail."
          }
        },
        "required": [
          "code",
          "name",
          "type",
          "status",
          "limits",
          "estimatedSettlement",
          "fields"
        ]
      },
      "CountryCapability": {
        "type": "object",
        "properties": {
          "country": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2.",
                "example": "GH"
              },
              "name": {
                "type": "string",
                "example": "Ghana"
              },
              "flag": {
                "type": "string",
                "example": "🇬🇭"
              }
            },
            "required": [
              "code",
              "name",
              "flag"
            ]
          },
          "currency": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "GHS"
              },
              "name": {
                "type": "string",
                "example": "Ghanaian Cedi"
              }
            },
            "required": [
              "code",
              "name"
            ]
          },
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        },
        "required": [
          "country",
          "currency",
          "methods"
        ]
      },
      "DepositAsset": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "example": "USDC"
          },
          "name": {
            "type": "string",
            "example": "USD Coin"
          },
          "chains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string",
                  "example": "Solana"
                },
                "network": {
                  "type": "string",
                  "description": "The actual network on this environment: testnets in sandbox, mainnet in production.",
                  "example": "Solana Devnet"
                },
                "code": {
                  "type": "string",
                  "example": "usdc_solana"
                },
                "requiresMemo": {
                  "type": "boolean",
                  "description": "True on Stellar and Ripple, where a deposit without the memo/tag cannot be credited."
                }
              },
              "required": [
                "chain",
                "network",
                "code",
                "requiresMemo"
              ]
            }
          }
        },
        "required": [
          "currency",
          "name",
          "chains"
        ]
      },
      "Rate": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Origin currency.",
            "example": "USD"
          },
          "to": {
            "type": "string",
            "description": "Destination currency.",
            "example": "GHS"
          },
          "rate": {
            "type": "string",
            "description": "Destination units per 1 origin unit, as a decimal string: `to.amount = from.amount × rate`.",
            "example": "15.62"
          }
        },
        "required": [
          "from",
          "to",
          "rate"
        ]
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "accountName": {
            "type": "string",
            "description": "The account holder name, when the rail can resolve it.",
            "example": "AMA SERWAA"
          },
          "reason": {
            "type": "string",
            "description": "Why validation failed.",
            "example": "account_not_found"
          }
        },
        "required": [
          "valid"
        ]
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "rcp_x7kd92mfn3qp8wz4t6vb"
          },
          "accountName": {
            "type": "string",
            "description": "Validated account-holder name where available.",
            "example": "Ama Serwaa"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own display label.",
            "example": "Supplier, Accra"
          },
          "code": {
            "type": "string",
            "description": "Payment method code from the capabilities catalog.",
            "example": "gh_mtn"
          },
          "accountNumber": {
            "type": "string",
            "description": "Fiat recipients only.",
            "example": "233559630374"
          },
          "address": {
            "type": "string",
            "description": "Crypto recipients only.",
            "example": "9aE4gcS3…"
          },
          "tag": {
            "type": "string",
            "description": "Memo/tag for chains that require one (Stellar, Ripple)."
          },
          "country": {
            "type": "string",
            "example": "GH"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "accountName",
          "label",
          "code",
          "country",
          "currency",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "Payout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "from": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The balance account that was debited.",
                "example": "GHS12345678"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "150.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              },
              "kyc": {
                "type": "object",
                "additionalProperties": {},
                "description": "Sender KYC you supplied, echoed back."
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "to": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Fiat destinations.",
                "example": "233559630374"
              },
              "address": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Crypto destinations."
              },
              "tag": {
                "type": "string"
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "gh_mtn"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "150.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              },
              "kyc": {
                "type": "object",
                "additionalProperties": {},
                "description": "Recipient KYC; `accountName` reflects the validated holder name where we have one."
              }
            },
            "required": [
              "code",
              "amount",
              "currency"
            ]
          },
          "fee": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1.50"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "amount",
              "currency"
            ]
          },
          "rate": {
            "type": [
              "string",
              "null"
            ],
            "description": "FX rate applied on cross-currency payouts, null otherwise.",
            "example": "15.9800"
          },
          "narration": {
            "type": [
              "string",
              "null"
            ],
            "example": "Invoice #1042"
          },
          "externalReference": {
            "type": "string",
            "description": "Your idempotency key: retries with the same value replay the original payout.",
            "example": "inv-1042"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Failure reason when status is failed."
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "from",
          "to",
          "fee",
          "rate",
          "narration",
          "externalReference",
          "metadata",
          "statusMessage",
          "completedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "PayoutTimelineEvent": {
        "type": "object",
        "properties": {
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "kind": {
            "type": "string",
            "enum": [
              "created",
              "processing",
              "completed",
              "failed",
              "status",
              "attempt",
              "debit",
              "fee",
              "refund",
              "webhook"
            ]
          },
          "title": {
            "type": "string",
            "example": "Payout completed"
          },
          "detail": {
            "type": [
              "string",
              "null"
            ],
            "example": "GHS 150.00 via MTN Mobile Money"
          }
        },
        "required": [
          "at",
          "kind",
          "title",
          "detail"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account number: currency code + 8 digits. This is the `accountNumber` that appears on payouts, collections, and ledger entries.",
            "example": "GHS12345678"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "availableBalance": {
            "type": "string",
            "description": "What you can spend right now: total minus active holds.",
            "example": "1250.00"
          },
          "pendingBalance": {
            "type": "string",
            "description": "Held for in-flight payouts and batches; released or debited when they settle.",
            "example": "150.00"
          },
          "totalBalance": {
            "type": "string",
            "description": "Sum of every ledger entry on the account.",
            "example": "1400.00"
          },
          "estimatedUsd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Available balance converted to USD at the current mid-market rate, indicative only. Null when no rate is available.",
            "example": "80.03"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "currency",
          "availableBalance",
          "pendingBalance",
          "totalBalance",
          "estimatedUsd",
          "createdAt"
        ]
      },
      "LedgerEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "le_k3m9dq2vx7pw4hn8ztgb"
          },
          "sequence": {
            "type": "integer",
            "description": "Global booking order. Strictly increasing; use it to reconcile, not `createdAt`.",
            "example": 4821
          },
          "type": {
            "type": "string",
            "enum": [
              "manual_credit",
              "crypto_deposit",
              "payout_debit",
              "payout_credit",
              "payout_refund",
              "fee_debit",
              "fee_refund",
              "fee_revenue",
              "conversion_debit",
              "conversion_credit",
              "batch_reserve",
              "batch_reserve_release",
              "collection_credit",
              "collection_fee_debit",
              "collection_fee_revenue",
              "chargeback_debit",
              "payment_link_debit",
              "payment_link_credit",
              "payment_link_fee"
            ],
            "example": "payout_debit"
          },
          "amount": {
            "type": "string",
            "description": "Signed decimal string: credits positive, debits negative.",
            "example": "-150.00"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "accountNumber": {
            "type": "string",
            "example": "GHS12345678"
          },
          "balanceAfter": {
            "type": "string",
            "description": "Running total balance on the account after this entry.",
            "example": "1250.00"
          },
          "referenceType": {
            "type": [
              "string",
              "null"
            ],
            "description": "What booked this entry: `payout`, `collection`, `conversion`, `payment_link`, `topup`, … Null for manual adjustments.",
            "example": "payout"
          },
          "referenceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id of that resource.",
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "externalReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "The externalReference you gave the source payout or collection, if any.",
            "example": "inv-1042"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "sequence",
          "type",
          "amount",
          "currency",
          "accountNumber",
          "balanceAfter",
          "referenceType",
          "referenceId",
          "externalReference",
          "createdAt"
        ]
      },
      "ConversionQuote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "qte_k3m9x2pw7fqz1ncv8hdt"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "executed",
              "expired"
            ],
            "description": "`pending` until executed or `expiresAt` passes."
          },
          "from": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Your balance account that is debited.",
                "example": "GHS12345678"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1000.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "to": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Your balance account that is credited.",
                "example": "USD87654321"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "62.50"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "rate": {
            "type": "string",
            "description": "Units of `to.currency` per 1 unit of `from.currency`. Spread is already included, so this is exactly what you get.",
            "example": "0.0625"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Quotes hold their rate for 10 minutes.",
            "example": "2026-08-01T09:22:44.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "from",
          "to",
          "rate",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "Conversion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "conv_b7y4nq2vx9mk1hzp5rlw"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "quoteId": {
            "type": [
              "string",
              "null"
            ],
            "example": "qte_k3m9x2pw7fqz1ncv8hdt"
          },
          "from": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Your balance account that is debited.",
                "example": "GHS12345678"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1000.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "to": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Your balance account that is credited.",
                "example": "USD87654321"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "62.50"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "rate": {
            "type": "string",
            "description": "Units of `to.currency` per 1 unit of `from.currency`. Spread is already included, so this is exactly what you get.",
            "example": "0.0625"
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Failure reason when status is failed."
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:13:02.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "quoteId",
          "from",
          "to",
          "rate",
          "statusMessage",
          "completedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "col_h2sk8dqz4mtv9xnp1wbf"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile_money",
              "virtual_account",
              "crypto"
            ],
            "description": "How the money arrived. `mobile_money` is a charge you initiated; the others are inbound deposits."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "reversed",
              "disputed"
            ],
            "description": "Charges start `pending`, move to `processing` once the provider accepts, and end `completed` (balance credited) or `failed`."
          },
          "from": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Where the money came from: the payer's mobile money number, the virtual account number, or the crypto address.",
                "example": "233559630374"
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Payment method code. Null for virtual account and crypto deposits.",
                "example": "gh_mtn"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "150.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "accountNumber",
              "code",
              "amount",
              "currency"
            ]
          },
          "to": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Your balance account that is credited.",
                "example": "GHS12345678"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "150.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "fee": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1.50"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              }
            },
            "required": [
              "amount",
              "currency"
            ]
          },
          "rate": {
            "type": "string",
            "description": "Always `1`: collections settle in the currency they arrive in. Use Conversions to change currency afterwards.",
            "example": "1"
          },
          "details": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Null for charges. Virtual account deposits: `{ bank, accountNumber, accountName, sessionId }`. Crypto deposits: `{ hash, chain, tag }`."
          },
          "narration": {
            "type": [
              "string",
              "null"
            ],
            "example": "Order #1042"
          },
          "externalReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your idempotency key on charges; null on deposits you did not initiate.",
            "example": "order-1042"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Failure reason when status is failed."
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "from",
          "to",
          "fee",
          "rate",
          "details",
          "narration",
          "externalReference",
          "metadata",
          "statusMessage",
          "completedAt",
          "createdAt"
        ]
      },
      "VirtualAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "va_k3m9x2pq7wz4t6vbn8hd"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused"
            ],
            "description": "Toggled via PATCH."
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "bank": {
            "type": [
              "string",
              "null"
            ],
            "description": "Bank holding the account; give this to the customer with the number.",
            "example": "Wema Bank"
          },
          "accountNumber": {
            "type": [
              "string",
              "null"
            ],
            "example": "7812345678"
          },
          "accountName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name shown to the sender at their bank.",
            "example": "Chipper / Acme Ltd"
          },
          "externalReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your reference, e.g. the customer id this account belongs to.",
            "example": "customer-8841"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "status",
          "currency",
          "bank",
          "accountNumber",
          "accountName",
          "externalReference",
          "createdAt"
        ]
      },
      "CryptoAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "addr_m4p8xq2kw9zt6vbn3hdj"
          },
          "currency": {
            "type": "string",
            "description": "The asset this address accepts. Sending anything else to it is not recoverable.",
            "example": "USDC"
          },
          "chain": {
            "type": "string",
            "enum": [
              "Bitcoin",
              "Ethereum",
              "Dogecoin",
              "Litecoin",
              "Polygon",
              "Solana",
              "Tron",
              "Base",
              "Ripple",
              "Stellar",
              "Lightning",
              "BSC"
            ],
            "example": "Solana"
          },
          "address": {
            "type": [
              "string",
              "null"
            ],
            "example": "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
          },
          "tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Memo/tag the sender MUST include on Stellar and Ripple; deposits without it cannot be matched. Null on other chains.",
            "example": null
          },
          "externalReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your reference, e.g. the customer id this address belongs to.",
            "example": "customer-8841"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "currency",
          "chain",
          "address",
          "tag",
          "externalReference",
          "createdAt"
        ]
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ord_p95akjfs339uy9icpelj"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "awaiting_funds",
              "awaiting_confirmations",
              "funds_received",
              "overpaid",
              "underpaid",
              "processing_payout",
              "completed",
              "failed",
              "expired"
            ],
            "description": "awaiting_funds → awaiting_confirmations (crypto only) → funds_received → processing_payout → completed. Terminal: completed, failed, expired. overpaid / underpaid: the deposit did not match `expectedAmount`."
          },
          "from": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Payment method the customer pays with.",
                "example": "usdc_solana"
              },
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Mobile money orders: the customer phone number being charged. Bank orders: the virtual account number to transfer into."
              },
              "bank": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Bank orders only: the bank holding the virtual account."
              },
              "address": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Crypto orders only: the deposit address.",
                "example": "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
              },
              "tag": {
                "type": "string",
                "description": "Crypto orders on Stellar/Ripple: memo the sender must include."
              },
              "chain": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Crypto orders only.",
                "example": "Solana"
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "100.00"
              },
              "currency": {
                "type": "string",
                "example": "USDC"
              },
              "kyc": {
                "type": "object",
                "additionalProperties": {},
                "description": "Sender KYC you supplied, echoed back."
              }
            },
            "required": [
              "code",
              "amount",
              "currency"
            ]
          },
          "to": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Payment method the recipient is paid on.",
                "example": "gh_mtn"
              },
              "accountNumber": {
                "type": "string",
                "example": "233559630374"
              },
              "tag": {
                "type": "string",
                "description": "Memo/tag for crypto destinations that require one."
              },
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1598.00"
              },
              "currency": {
                "type": "string",
                "example": "GHS"
              },
              "kyc": {
                "type": "object",
                "additionalProperties": {},
                "description": "Recipient KYC; `accountName` is the validated holder name where the rail supports lookup."
              }
            },
            "required": [
              "code",
              "accountNumber",
              "amount",
              "currency"
            ]
          },
          "fee": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "amount": {
                "type": "string",
                "description": "Decimal string; never parse as float for arithmetic.",
                "example": "1.00"
              },
              "currency": {
                "type": "string",
                "example": "USDC"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
            "description": "Charged in the origin currency on top of `from.amount`."
          },
          "rate": {
            "type": [
              "string",
              "null"
            ],
            "description": "FX rate locked at creation for cross-currency orders, null otherwise.",
            "example": "15.9800"
          },
          "instructions": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "crypto",
                  "virtual_account",
                  "mobile_money"
                ]
              },
              "message": {
                "type": "string",
                "description": "Ready to show the customer verbatim.",
                "example": "Send 101.00 USDC on Solana to 7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
              },
              "amount": {
                "type": "string",
                "description": "Total the customer must send: `from.amount` plus fee.",
                "example": "101.00"
              },
              "currency": {
                "type": "string",
                "example": "USDC"
              },
              "address": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "crypto"
              },
              "tag": {
                "type": "string",
                "description": "crypto (Stellar/Ripple)"
              },
              "chain": {
                "type": "string",
                "description": "crypto",
                "example": "Solana"
              },
              "bank": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "virtual_account"
              },
              "accountNumber": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "virtual_account"
              },
              "accountName": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "virtual_account"
              }
            },
            "required": [
              "type",
              "message",
              "amount",
              "currency"
            ],
            "description": "What to tell the customer to do. Null once the order has failed before provisioning."
          },
          "expectedAmount": {
            "type": "string",
            "description": "What the customer must send: `from.amount` + fee.",
            "example": "101.00"
          },
          "receivedAmount": {
            "type": [
              "string",
              "null"
            ],
            "description": "What actually arrived. Null until funds land.",
            "example": "101.00"
          },
          "collectionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The money-in leg, once created.",
            "example": "col_x7kd92mfn3qp8wz4t6vb"
          },
          "payoutId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The money-out leg, once funds are received.",
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "externalReference": {
            "type": "string",
            "description": "Your idempotency key: retries with the same value and intent replay the original order.",
            "example": "inv-1042"
          },
          "narration": {
            "type": [
              "string",
              "null"
            ],
            "example": "Invoice #1042"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Failure reason when status is failed."
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Bank and crypto orders expire 4 hours after creation if no deposit arrives. Null for mobile money."
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "from",
          "to",
          "fee",
          "rate",
          "instructions",
          "expectedAmount",
          "receivedAmount",
          "collectionId",
          "payoutId",
          "externalReference",
          "narration",
          "metadata",
          "statusMessage",
          "expiresAt",
          "completedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "OrderTimelineEvent": {
        "type": "object",
        "properties": {
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "kind": {
            "type": "string",
            "enum": [
              "created",
              "processing",
              "completed",
              "failed",
              "status"
            ]
          },
          "title": {
            "type": "string",
            "description": "Prefixed `Collection:` / `Payout:` for events on the two legs.",
            "example": "Payout: Completed"
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "at",
          "kind",
          "title",
          "detail"
        ]
      },
      "PaymentPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sandbox ids carry a stack marker: `pp_test_…`.",
            "example": "pp_x7kd92mfn3qp8wz4t6vb"
          },
          "url": {
            "type": "string",
            "description": "The reusable hosted checkout URL. Share it with anyone.",
            "example": "https://chipper-platform-checkout-web.onrender.com/pp_x7kd92mfn3qp8wz4t6vb"
          },
          "amount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Fixed price, or null for an open-amount page where the payer chooses.",
            "example": "250.00"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "title": {
            "type": "string",
            "example": "Zouk Inc. Donations"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Support our Accra chapter."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "closed"
            ],
            "description": "A page past `expiresAt` keeps status `active` but rejects new checkouts."
          },
          "allowedMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "mobile_money",
                "bank_transfer",
                "crypto"
              ]
            },
            "description": "Rails the payer may choose from on the hosted checkout.",
            "example": [
              "mobile_money",
              "bank_transfer"
            ]
          },
          "allowedCryptoAssets": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Stablecoins accepted when `crypto` is allowed. Null = any supported asset.",
            "example": null
          },
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "orderNumber"
                },
                "type": {
                  "type": "string",
                  "example": "text"
                },
                "required": {
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "type",
                "required"
              ]
            },
            "description": "Extra inputs the payer fills in at checkout."
          },
          "branding": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "logoUrl": {
                "type": "string",
                "format": "uri"
              },
              "accentColor": {
                "type": "string",
                "example": "#6642D1"
              },
              "businessName": {
                "type": "string",
                "example": "Zouk Inc."
              }
            },
            "description": "Shown on the hosted checkout. Null falls back to your organization defaults.",
            "example": {
              "accentColor": "#6642D1",
              "businessName": "Zouk Inc."
            }
          },
          "redirectUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where the payer is sent after paying.",
            "example": "https://zouk.example/thanks"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null = never expires."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "paymentCount": {
            "type": "integer",
            "description": "Child links that reached `paid`.",
            "example": 12
          },
          "totalCollected": {
            "type": "string",
            "description": "Gross amount received across all paid child links.",
            "example": "3000.00"
          }
        },
        "required": [
          "id",
          "url",
          "amount",
          "currency",
          "title",
          "description",
          "status",
          "allowedMethods",
          "allowedCryptoAssets",
          "customFields",
          "branding",
          "redirectUrl",
          "metadata",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "paymentCount",
          "totalCollected"
        ]
      },
      "CheckoutSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cs_q7vei435zifs51ia0lqr"
          },
          "paymentLinkId": {
            "type": "string",
            "example": "pl_p95akjfs339uy9icpelj"
          },
          "status": {
            "type": "string",
            "description": "Starts as `processing` (mobile money charge sent), `awaiting_transfer` (bank transfer to a virtual account) or `awaiting_payment` (crypto); ends as `complete`, `failed` (payer cancelled or switched method) or `expired`.",
            "example": "complete"
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "mobile_money",
              "bank_transfer",
              "crypto"
            ]
          },
          "chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Crypto sessions only.",
            "example": null
          },
          "originAmount": {
            "type": "string",
            "description": "What the payer sends, in `originCurrency`.",
            "example": "250.00"
          },
          "originCurrency": {
            "type": "string",
            "example": "GHS"
          },
          "destinationAmount": {
            "type": "string",
            "description": "What you receive, in the link currency.",
            "example": "250.00"
          },
          "destinationCurrency": {
            "type": "string",
            "example": "GHS"
          },
          "rate": {
            "type": "string",
            "description": "Origin → destination rate; `1` for same-currency sessions.",
            "example": "1"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Mobile money 5 min, bank transfer 30 min, stablecoins 90 min, volatile crypto 15 min."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "paymentLinkId",
          "status",
          "statusMessage",
          "method",
          "chain",
          "originAmount",
          "originCurrency",
          "destinationAmount",
          "destinationCurrency",
          "rate",
          "expiresAt",
          "createdAt"
        ]
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sandbox ids carry a stack marker: `pl_test_…`.",
            "example": "pl_p95akjfs339uy9icpelj"
          },
          "url": {
            "type": "string",
            "description": "Send this to the customer; Chipper hosts the checkout.",
            "example": "https://chipper-platform-checkout-web.onrender.com/pl_p95akjfs339uy9icpelj"
          },
          "parentType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "payment_page"
            ],
            "description": "`payment_page` when this link was spawned by a page; null when you created it directly.",
            "example": null
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "email": {
            "type": "string",
            "description": "The customer this link is for.",
            "example": "ama@example.com"
          },
          "amount": {
            "type": "string",
            "description": "Decimal string; never parse as float for arithmetic.",
            "example": "250.00"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "title": {
            "type": "string",
            "example": "Invoice #1042"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "August catering"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paid",
              "expired",
              "closed"
            ]
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalReceived": {
            "type": "string",
            "description": "Gross amount settled so far.",
            "example": "0.00"
          },
          "remaining": {
            "type": "string",
            "description": "`amount` minus `totalReceived`, floored at zero.",
            "example": "250.00"
          },
          "overpaymentAmount": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when the payer sent more than `amount` (crypto).",
            "example": null
          },
          "allowedMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "mobile_money",
                "bank_transfer",
                "crypto"
              ]
            },
            "description": "Rails the payer may choose from on the hosted checkout.",
            "example": [
              "mobile_money",
              "bank_transfer"
            ]
          },
          "allowedCryptoAssets": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Stablecoins accepted when `crypto` is allowed. Null = any supported asset.",
            "example": null
          },
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "orderNumber"
                },
                "type": {
                  "type": "string",
                  "example": "text"
                },
                "required": {
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "type",
                "required"
              ]
            },
            "description": "Extra inputs the payer fills in at checkout."
          },
          "branding": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "logoUrl": {
                "type": "string",
                "format": "uri"
              },
              "accentColor": {
                "type": "string",
                "example": "#6642D1"
              },
              "businessName": {
                "type": "string",
                "example": "Zouk Inc."
              }
            },
            "description": "Shown on the hosted checkout. Null falls back to your organization defaults.",
            "example": {
              "accentColor": "#6642D1",
              "businessName": "Zouk Inc."
            }
          },
          "redirectUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where the payer is sent after paying.",
            "example": "https://zouk.example/thanks"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null = never expires."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "customerReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your idempotency key.",
            "example": "inv-1042"
          }
        },
        "required": [
          "id",
          "url",
          "parentType",
          "parentId",
          "email",
          "amount",
          "currency",
          "title",
          "description",
          "status",
          "statusMessage",
          "totalReceived",
          "remaining",
          "overpaymentAmount",
          "allowedMethods",
          "allowedCryptoAssets",
          "customFields",
          "branding",
          "redirectUrl",
          "metadata",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "customerReference"
        ]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Ledger entry id; the middle segment is the raw ledger type.",
            "example": "le_payout_debit_p95akjfs339uy9icpelj"
          },
          "type": {
            "type": "string",
            "description": "One of `payout`, `settlement`, `refund`, `fee`, `fee_refund`, `conversion`, `topup`, `deposit`, `collection`, `collection_fee`, `reserve`, `reserve_release`. Newer ledger types (e.g. `payment_link_credit`, `payment_link_fee`) pass through unmapped.",
            "example": "payout"
          },
          "reference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your `externalReference` for payout-related rows, null otherwise.",
            "example": "inv-1042"
          },
          "amount": {
            "type": "string",
            "description": "Signed: negative debits your balance, positive credits it.",
            "example": "-150.00"
          },
          "runningBalance": {
            "type": "string",
            "description": "Account balance immediately after this entry.",
            "example": "1250.00"
          },
          "currency": {
            "type": "string",
            "example": "GHS"
          },
          "description": {
            "type": "string",
            "example": "Payout to Ama Serwaa (gh_mtn)"
          },
          "status": {
            "type": "string",
            "description": "Mirrors the related payout or conversion (`pending`, `processing`, `completed`, `failed`); ledger-only rows are `completed`.",
            "example": "completed"
          },
          "relatedId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The payout, conversion, collection or batch this entry belongs to.",
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "reference",
          "amount",
          "runningBalance",
          "currency",
          "description",
          "status",
          "relatedId",
          "createdAt"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "whe_k3m9x2pq7vn4t8wz1bcd"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.example.com/chipper/webhooks"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Production listener"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types, or `[\"*\"]` for all.",
            "example": [
              "payout.completed",
              "payout.failed",
              "collection.completed"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "disabled"
            ]
          },
          "failureCount": {
            "type": "integer",
            "description": "Consecutive failed attempts. Reset to 0 on the next success.",
            "example": 0
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "manual",
              "consecutive_failures"
            ],
            "description": "`consecutive_failures` after 10 failed attempts in a row, `manual` when you disabled it, null when active."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "url",
          "description",
          "events",
          "status",
          "failureCount",
          "disabledReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "wev_p2r8m5xk9qz3v7nt4wbh"
          },
          "eventType": {
            "type": "string",
            "example": "payout.completed"
          },
          "resourceId": {
            "type": "string",
            "description": "Id of the resource the event is about.",
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {},
            "description": "Exactly what was POSTed to your endpoint: `{ event, data }`, where `data` is the resource as returned by its GET endpoint.",
            "example": {
              "event": "payout.completed",
              "data": {
                "id": "pay_ghs_p95akjfs339uy9icpelj",
                "status": "completed"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "eventType",
          "resourceId",
          "payload",
          "createdAt"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "whd_x4n7q2vm8kp3r9zt5wbc"
          },
          "eventId": {
            "type": "string",
            "example": "wev_p2r8m5xk9qz3v7nt4wbh"
          },
          "eventType": {
            "type": [
              "string",
              "null"
            ],
            "example": "payout.completed"
          },
          "resourceId": {
            "type": [
              "string",
              "null"
            ],
            "example": "pay_ghs_p95akjfs339uy9icpelj"
          },
          "endpointId": {
            "type": "string",
            "example": "whe_k3m9x2pq7vn4t8wz1bcd"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failed"
            ],
            "description": "`pending` while retries remain, `failed` once the schedule is exhausted."
          },
          "attempts": {
            "type": "integer",
            "example": 3
          },
          "lastStatusCode": {
            "type": [
              "integer",
              "null"
            ],
            "description": "HTTP status of the last attempt; null if the connection failed.",
            "example": 500
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ],
            "description": "First 500 chars of the last failed response body, or the network error.",
            "example": "HTTP 500"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "eventId",
          "eventType",
          "resourceId",
          "endpointId",
          "status",
          "attempts",
          "lastStatusCode",
          "lastError",
          "completedAt",
          "createdAt"
        ]
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dsp_m8k2x5vq9pn3r7zt4wbc"
          },
          "organizationId": {
            "type": "string",
            "example": "org_h4n7q2vm8kp3r9zt5wbx"
          },
          "collectionId": {
            "type": "string",
            "description": "The disputed collection.",
            "example": "col_x7kd92mfn3qp8wz4t6vb"
          },
          "amount": {
            "type": "string",
            "description": "Decimal string; never parse as float for arithmetic.",
            "example": "250.00"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "category": {
            "type": "string",
            "enum": [
              "fraud",
              "chargeback",
              "other"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "under_review",
              "accepted",
              "declined"
            ],
            "description": "`open` awaits your response; `under_review` after you contest; `accepted`/`declined` are final."
          },
          "statusMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Resolution note from Chipper once closed."
          },
          "evidence": {
            "type": "object",
            "additionalProperties": {},
            "description": "Your response: `{ action, reason, fileIds }`. Empty until you respond.",
            "example": {
              "action": "contest",
              "reason": "Goods delivered, signed proof attached",
              "fileIds": [
                "file_q7vei435zifs51ia0lqr"
              ]
            }
          },
          "resolvedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "collectionId",
          "amount",
          "currency",
          "category",
          "status",
          "statusMessage",
          "evidence",
          "resolvedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "DisputeMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dsm_p2r8m5xk9qz3v7nt4wbh"
          },
          "authorType": {
            "type": "string",
            "enum": [
              "merchant",
              "admin"
            ],
            "description": "`admin` is Chipper."
          },
          "body": {
            "type": "string",
            "example": "Please share the delivery confirmation."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string",
                  "example": "file_q7vei435zifs51ia0lqr"
                },
                "name": {
                  "type": "string",
                  "example": "delivery-receipt.pdf"
                },
                "url": {
                  "type": "string",
                  "description": "May be empty for attachments referenced by `fileId`; fetch the file for a signed URL."
                }
              },
              "required": [
                "name",
                "url"
              ]
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "authorType",
          "body",
          "attachments",
          "createdAt"
        ]
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "file_q7vei435zifs51ia0lqr"
          },
          "purpose": {
            "type": "string",
            "example": "dispute.evidence"
          },
          "filename": {
            "type": "string",
            "example": "delivery-receipt.pdf"
          },
          "contentType": {
            "type": "string",
            "example": "application/pdf"
          },
          "size": {
            "type": "integer",
            "description": "Bytes.",
            "example": 48213
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Short-lived signed download URL (15 min to 24 h depending on purpose). Present on upload and get, omitted in lists."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-01T09:12:44.000Z"
          }
        },
        "required": [
          "id",
          "purpose",
          "filename",
          "contentType",
          "size",
          "createdAt"
        ]
      },
      "FilePurpose": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "dispute.evidence"
          },
          "maxSizeBytes": {
            "type": "integer",
            "example": 10485760
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "application/pdf"
            ]
          }
        },
        "required": [
          "name",
          "maxSizeBytes",
          "allowedTypes"
        ]
      },
      "Simulation": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "example": "mobile_money_collection"
          },
          "method": {
            "type": "string",
            "example": "POST"
          },
          "path": {
            "type": "string",
            "example": "/v1/collections"
          },
          "description": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Explicit `outcome` values the endpoint accepts."
          },
          "trigger": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "example": "amount"
              },
              "rule": {
                "type": "string",
                "enum": [
                  "last_two_decimal_digits",
                  "suffix"
                ]
              }
            },
            "required": [
              "field",
              "rule"
            ],
            "description": "Which request field selects the scenario, for behaviours driven through the normal API."
          },
          "scenarios": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Trigger value → outcome. `default` applies when nothing matches.",
            "example": {
              "50": "delayed_completion",
              "51": "failed",
              "52": "customer_timeout",
              "99": "transient_error_then_reconciled",
              "default": "completed"
            }
          }
        },
        "required": [
          "operation",
          "method",
          "path",
          "description"
        ]
      },
      "VirtualAccountDepositSimulation": {
        "type": "object",
        "properties": {
          "depositId": {
            "type": "string",
            "example": "vad_x7kd92mfn3qp8wz4t6vb"
          },
          "collectionId": {
            "type": "string",
            "description": "The collection created for the inflow. Poll it or wait for `collection.completed` / `collection.failed`.",
            "example": "col_x7kd92mfn3qp8wz4t6vb"
          },
          "virtualAccountId": {
            "type": "string",
            "example": "va_h4n7q2vm8kp3r9zt5wbx"
          },
          "amount": {
            "type": "string",
            "description": "Amount as sent by the simulated bank, in the virtual account currency.",
            "example": "5000"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "requestedOutcome": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "replayed": {
            "type": "boolean",
            "description": "True when this externalReference was already simulated and the original result is returned."
          }
        },
        "required": [
          "depositId",
          "collectionId",
          "virtualAccountId",
          "amount",
          "currency",
          "requestedOutcome",
          "replayed"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/organization": {
      "get": {
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get your organization",
        "description": "The organization the calling API key belongs to. Useful as a connectivity check and to confirm which account a key controls.",
        "responses": {
          "200": {
            "description": "Your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List capabilities",
        "description": "The full method catalog, grouped by country and currency. `payouts` is where you can send money, `collections` is where you can charge customers, and `deposits` lists the stablecoins and chains you can receive on. Every `code` the API accepts (`gh_mtn`, `ng_gtbank`, `usdc_solana`…) comes from this catalog, so fetch it rather than hardcoding rails. Sandbox and production report different catalogs (sandbox lists simulated rails and testnet chains), so query the environment you are integrating against.",
        "responses": {
          "200": {
            "description": "The catalog for this environment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "payouts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CountryCapability"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CountryCapability"
                          }
                        },
                        "deposits": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DepositAsset"
                          }
                        }
                      },
                      "required": [
                        "payouts",
                        "collections",
                        "deposits"
                      ]
                    }
                  },
                  "required": [
                    "capabilities"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{country}": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List capabilities for a country",
        "description": "Payout and collection methods available in one country. Use this to build a country-specific method picker without filtering the whole catalog client-side.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code, case-insensitive.",
              "example": "GH"
            },
            "required": true,
            "name": "country",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Methods in this country.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "payouts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CountryCapability"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CountryCapability"
                          }
                        }
                      },
                      "required": [
                        "payouts",
                        "collections"
                      ]
                    }
                  },
                  "required": [
                    "capabilities"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "not_found",
                  "message": "Capabilities for country GH not found",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{country}/{method}": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a payment method",
        "description": "One method with its live status, limits, settlement estimate, and the input `fields` it needs. Check this before creating a recipient or payout on a rail to catch limit or outage problems up front.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code, case-insensitive.",
              "example": "GH"
            },
            "required": true,
            "name": "country",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Method code.",
              "example": "gh_mtn"
            },
            "required": true,
            "name": "method",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The method.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "$ref": "#/components/schemas/PaymentMethod"
                    }
                  },
                  "required": [
                    "method"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          },
          "404": {
            "description": "No such resource in this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "not_found",
                  "message": "Method gh_mtn for country GH not found",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rates/{origin}/{destination}": {
      "get": {
        "tags": [
          "Rates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get an exchange rate",
        "description": "The rate your organization would get right now for converting `origin` into `destination`. It already includes your organization's spread: this is the effective rate applied when a cross-currency payout or conversion executes, not the mid-market rate. Rates refresh every minute; for a rate held for a fixed window, create a conversion quote instead. Supported currencies: USD, NGN, GHS, UGX, RWF, ZMW, TZS, KES, ZAR, INR, USDC, USDT, PYUSD, RLUSD, UGXC, BTC, ETH, SOL, XLM.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Currency you are converting from.",
              "example": "USD"
            },
            "required": true,
            "name": "origin",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency you are converting to.",
              "example": "GHS"
            },
            "required": true,
            "name": "destination",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The effective rate. Same-currency pairs return `1`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rate": {
                      "$ref": "#/components/schemas/Rate"
                    }
                  },
                  "required": [
                    "rate"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsupported currency.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Unsupported currency: XYZ. Supported: BTC, ETH, GHS, …",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          },
          "503": {
            "description": "No live rate and nothing cached; retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "rate_unavailable",
                  "message": "Exchange rate is temporarily unavailable",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/validate": {
      "post": {
        "tags": [
          "Validation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Validate a destination",
        "description": "Resolves the account holder name for bank/mobile-money destinations, checks address format for crypto, and routing numbers where applicable. Validate before creating a payout to catch typos while the money is still yours.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1
                  },
                  "accountNumber": {
                    "type": "string",
                    "minLength": 1
                  },
                  "address": {
                    "type": "string",
                    "minLength": 1
                  },
                  "routingNumber": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validation": {
                      "$ref": "#/components/schemas/ValidationResult"
                    }
                  },
                  "required": [
                    "validation"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "validation_error",
                  "message": "Request validation failed",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid API key",
                  "requestId": "req_q7vei435zifs51ia0lqr"
                }
              }
            }
          }
        }
      }
    },
    "/v1/validate/bulk": {
      "post": {
        "tags": [
          "Validation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Validate destinations in bulk",
        "description": "Up to 100 per call.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "accountNumber": {
                          "type": "string",
                          "minLength": 1
                        },
                        "address": {
                          "type": "string",
                          "minLength": 1
                        },
                        "routingNumber": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One result per item, in order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "result": {
                            "$ref": "#/components/schemas/ValidationResult"
                          }
                        },
                        "required": [
                          "code",
                          "result"
                        ]
                      }
                    }
                  },
                  "required": [
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "validation_error",
[...]
