openapi: 3.2.0
info:
  title: PDAX Institutions API
  description: PDAX API for Institutions - fiat/crypto conversion, deposits, withdrawals, and balance management.
  version: 1.0.0
  license:
    name: Proprietary
servers:
  - url: https://services.pdax.ph/api/pdax-api
    description: Production
  - url: https://stage.services.sandbox.pdax.ph/api/pdax-api
    description: Stage / Sandbox
security:
  - bearerAuth: []
    idToken: []
tags:
  - name: Authentication
  - name: Balances
  - name: Deposit and Withdrawal check
  - name: Funding
  - name: Trade
  - name: Webhook
  - name: Withdrawals
paths:
  /pdax-institution/v1/login:
    post:
      summary: POST Login
      tags:
        - Authentication
      operationId: post_login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Email address of PDAX account
                password:
                  type: string
                  description: Password of PDAX account
              required:
                - username
                - password
      responses:
        '200':
          description: Successful response (multiple variants)
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      email:
                        type: string
                        description: Email address of PDAX account
                      username:
                        type: string
                        description: ID number of PDAX account
                      groups:
                        type: array
                        description: List of groups user belongs to
                      token_type:
                        type: string
                        description: Type of authentication token (e.g., "Bearer")
                      preferred_mfa:
                        type: string
                        description: MFA preference status (e.g., "NOT_SET", "SOFTWARE_TOKEN_MFA")
                      expiry:
                        type: number
                        description: Token validity period in seconds
                      access_token:
                        type: string
                        description: JWT token for API authorization
                      id_token:
                        type: string
                        description: JWT token for user identity
                      refresh_token:
                        type: string
                        description: Token to refresh authentication without reauthentication
                    title: Schema of Response Payload (Without MFA Setup)
                  - type: object
                    properties:
                      code:
                        type: string
                        description: Response code from authentication service
                      message:
                        type: string
                        description: Descriptive message about the MFA challenge
                      challenge_name:
                        type: string
                        description: Type of challenge required (e.g., "SOFTWARE_TOKEN_MFA")
                      session:
                        type: string
                        description: Session token for completing the MFA challenge
                    title: Schema of Response Payload (With MFA Setup)
              example:
                email: example@gmail.com
                username: 96a8c8b5-8fee-40c9-9242-a5cd172e9a96
                groups:
                  - exchange_user
                token_type: Bearer
                preferred_mfa: SOFTWARE_TOKEN_MFA
                expiry: 600
                access_token: eyJraWQiOiJ4UjJ2U1A2
                id_token: eyJraWQiOiJsQzlPbldQV2ZX
                refresh_token: eyJjdHkiOiJKV1QiLCJ
        '400':
          $ref: '#/components/responses/PdaxError400'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/login/otp:
    post:
      summary: POST OTP
      tags:
        - Authentication
      operationId: post_otp
      description: This endpoint is required if you enable MFA on your account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  type: string
                  description: MFA session token
                username:
                  type: string
                  description: Email address of PDAX account
                otp:
                  type: string
                  description: One-time password code
              required:
                - session
                - username
                - otp
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: Email address of PDAX account
                  username:
                    type: string
                    description: ID number of PDAX account
                  groups:
                    type: array
                    description: List of groups user belongs to
                  token_type:
                    type: string
                    description: Type of authentication token (e.g., "Bearer")
                  preferred_mfa:
                    type: string
                    description: MFA preference status (e.g., "SOFTWARE_TOKEN_MFA")
                  expiry:
                    type: number
                    description: Token validity period in seconds
                  access_token:
                    type: string
                    description: JWT token for API authorization
                  id_token:
                    type: string
                    description: JWT token for user identity
                  refresh_token:
                    type: string
                    description: Token to refresh authentication without reauthentication
              example:
                email: example@gmail.com
                username: 96a8c8b5-8fee-40c9-9242-a5cd172e9a96
                groups:
                  - exchange_user
                token_type: Bearer
                preferred_mfa: SOFTWARE_TOKEN_MFA
                expiry: 600
                access_token: eyJraWQiOiJ4UjJ2U1A2
                id_token: eyJraWQiOiJsQzlPbldQV2ZX
                refresh_token: eyJjdHkiOiJKV1QiLCJ
        '400':
          $ref: '#/components/responses/PdaxError400'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/refresh-token:
    put:
      summary: PUT Refresh Token
      tags:
        - Authentication
      operationId: put_refresh_token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Email address of PDAX account
                refreshToken:
                  type: string
                  description: Token for refresh session
              required:
                - username
                - refreshToken
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: Email address of PDAX account
                  username:
                    type: string
                    description: ID number of PDAX account
                  groups:
                    type: array
                    description: List of groups user belongs to
                  token_type:
                    type: string
                    description: Type of authentication token (e.g., "Bearer")
                  preferred_mfa:
                    type: string
                    description: MFA preference status (e.g., "NOT_SET")
                  expiry:
                    type: number
                    description: Token validity period in seconds
                  access_token:
                    type: string
                    description: JWT token for API authorization
                  id_token:
                    type: string
                    description: JWT token for user identity
                  refresh_token:
                    type: string
                    description: Token to refresh authentication without reauthentication
              example:
                email: test@pdax.ph
                username: 48e0fe9e-0724-4b80-9eb7-c61b53cd7346
                groups:
                  - insti_user
                token_type: Bearer
                preferred_mfa: NOT_SET
                expiry: 600
                access_token: eyJraWQiOiJwTXRndmx1UGQ1ZG5YK2U1MXNLQUFSSUpiTW00TnA5SzFUdlZDK0xLVmY4PSIsImFsZyI6IlJTMjU2In0.
                id_token: eyJraWQiOiJ6dU5uUkVqVmNpUTZ5ektqZEhUOVZoZGZtUzdSSkpzQjQ4ZUZ3S04wdUxZPSIsImFsZyI6IlJTMjU2In0
                refresh_token: eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.
        '400':
          $ref: '#/components/responses/PdaxError400'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/trade/price:
    get:
      summary: GET Indicative Quote
      tags:
        - Trade
      operationId: get_indicative_quote
      description: Get a price quotation for the selected cryptopair.
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: quote_currency
          in: query
          schema:
            $ref: '#/components/schemas/Token'
          description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
          required: true
        - name: base_currency
          in: query
          schema:
            type: string
            enum:
              - PHP
          description: PHP asset
          required: true
        - name: side
          in: query
          schema:
            type: string
          description: Counterparty action -- buy or sell
          required: true
        - name: base_quantity
          in: query
          schema:
            type: string
          description: Quantity to buy or sell.   Note:Quantity step rules apply. For more information, see here
          required: true
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          quote_currency:
                            type: string
                            description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
                          base_currency:
                            type: string
                            description: PHP asset
                          side:
                            type: string
                            description: Counterparty action -- buy or sell
                          base_quantity:
                            type: string
                            description: Quantity of the asset you are buying or selling
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Total amount
              example:
                data:
                  quote_currency: USDC
                  base_currency: PHP
                  side: sell
                  base_quantity: '100'
                  price: 55
                  total_amount: 5500
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
      deprecated: true
  /pdax-institution/v1/trade/quote:
    post:
      summary: POST Firm Quote
      tags:
        - Trade
      operationId: post_firm_quote
      description:
        Firm quotes shall be used in placing orders. The API Service shall fill the order parameters as indicated
        in this endpoint and the quote response shall be served in full.
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quote_currency:
                  $ref: '#/components/schemas/Token'
                  description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
                base_currency:
                  type: string
                  enum:
                    - PHP
                  description: PHP asset
                side:
                  type: string
                  description: Counterparty action -- buy or sell
                base_quantity:
                  type: string
                  description: Quantity to buy or sell.   Note:Quantity step rules apply. For more information, see here
              required:
                - quote_currency
                - base_currency
                - side
                - base_quantity
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          quote_id:
                            type: string
                            description: Firm quote reference ID
                          expires_at:
                            type: string
                            description: Quote validity in ISO timestamp
                          quote_currency:
                            type: string
                            description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
                          base_currency:
                            type: string
                            description: PHP asset
                          side:
                            type: string
                            description: Counterparty action -- buy or sell
                          base_quantity:
                            type: number
                            description: Quantity of the asset you are buying or selling
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Total amount
              example:
                data:
                  quote_id: 0188b945-cbfa-7b8b-9fea-bfcc2ac25c8c
                  expires_at: '2023-06-14T09:41:13.423874Z'
                  quote_currency: USDC
                  base_currency: PHP
                  side: sell
                  base_quantity: 100
                  price: 55
                  total_amount: 5500
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
      deprecated: true
  /pdax-institution/v2/trade/price:
    get:
      summary: GET Indicative Quote v2
      tags:
        - Trade
      operationId: get_indicative_quote_v2
      description: Get a price quotation for the selected cryptopair.
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                side:
                  type: string
                  description: Counterparty action -- buy or sell
                quote_currency:
                  $ref: '#/components/schemas/Token'
                  description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
                base_currency:
                  type: string
                  enum:
                    - PHP
                  description: PHP asset
                currency:
                  $ref: '#/components/schemas/Token'
                  description: The currency of which you want to receive
                quantity:
                  type: string
                  description: Quantity to buy or sell.   Note:Quantity step rules apply. For more information, see here
              required:
                - side
                - quote_currency
                - base_currency
                - currency
                - quantity
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          base_currency:
                            type: string
                            description: PHP asset
                          quote_currency:
                            type: string
                            description: The crypto asset you want to buy or sell. Supported trading pairs can be found here
                          side:
                            type: string
                            description: Counterparty action -- buy or sell
                          base_quantity:
                            type: number
                            description: Quantity of the asset you are buying or selling
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Total amount
              example:
                data:
                  base_currency: PHP
                  quote_currency: USDC
                  side: buy
                  base_quantity: 17.18
                  price: 58.196
                  total_amount: 1000
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v2/trade/quote:
    post:
      summary: POST Firm Quote v2
      tags:
        - Trade
      operationId: post_firm_quote_v2
      description: Get a price quotation for the selected cryptopair.
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                side:
                  type: string
                  description: Counterparty action -- buy or sell
                quote_currency:
                  $ref: '#/components/schemas/Token'
                  description: The crypto asset you want to buy or sell . Supported trading pairs can be found here
                base_currency:
                  type: string
                  enum:
                    - PHP
                  description: PHP asset
                currency:
                  $ref: '#/components/schemas/Token'
                  description: The currency of which you want to receive
                quantity:
                  type: string
                  description: Quantity to buy or sell.   Note:Quantity step rules apply. For more information, see here
              required:
                - side
                - quote_currency
                - base_currency
                - currency
                - quantity
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          quote_id:
                            type: string
                            description: Firm quote reference ID
                          expires_at:
                            type: string
                            description: Quote validity in ISO timestamp
                          base_currency:
                            type: string
                            description: PHP asset
                          quote_currency:
                            type: string
                            description: The crypto asset you want to buy or sell. Supported trading pairs can be found here
                          side:
                            type: string
                            description: Counterparty action -- buy or sell
                          base_quantity:
                            type: number
                            description: Quantity of the asset you are buying or selling
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Total amount
              example:
                data:
                  quote_id: 018fa0b8-b6e0-70e7-ad7e-1a9803695a86
                  expires_at: '2024-05-22T14:33:46.111Z'
                  base_currency: PHP
                  quote_currency: USDC
                  side: buy
                  base_quantity: 17.18
                  price: 58.196
                  total_amount: 1000
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/trade:
    post:
      summary: POST Order
      tags:
        - Trade
      operationId: post_order
      description:
        Place a market order using the firm quote reference. To check if the order has been completed, use the
        Get Order Status endpoint.
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quote_id:
                  type: string
                  description: Firm quote reference ID
                side:
                  type: string
                  description: Describes the side of the trade; this is dependent on the value of the side from Get Firm Quote
                idempotency_id:
                  type: string
                  description:
                    'Id of the request made. You may generate an idempotency id by using uuid ver 4 format  Sample
                    here: https://www.uuidgenerator.net/version4'
              required:
                - quote_id
                - side
                - idempotency_id
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order_id:
                            type: number
                            description: Id of the order
                          status:
                            type: string
                            description: 'Possible Values : successful, failed'
                          quote_currency:
                            type: string
                            description:
                              If side is 'Buy' Quote currency is the asset you want to receive If side is 'Sell'
                              Quote currency is the asset you want to sell
                          base_currency:
                            type: string
                            description:
                              If side is 'Buy' Base currency is the asset you want to sell If side is 'Sell' Base
                              currency is the asset you want to receive
                          side:
                            type: string
                            description: Counterparty side
                          base_quantity:
                            type: number
                            description: Order quantity as per firm quote
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Total amount
              example:
                data:
                  order_id: 122121
                  status: successful
                  quote_currency: USDC
                  base_currency: PHP
                  side: sell
                  base_quantity: 100
                  price: 55
                  total_amount: 5500
                status: success
        '400':
          $ref: '#/components/responses/PostOrderError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PostOrderError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/orders/{order_id}:
    get:
      summary: GET Order Status
      tags:
        - Trade
      operationId: get_order_status
      description: Use this endpoint to verify the status of your order.
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          description: Order ID returned from Post Order endpoint
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order_id:
                            type: number
                            description: Order id
                          status:
                            type: string
                            description: 'Possible Values : SUCCESSFUL, FAILED'
                          quote_currency:
                            type: string
                            description:
                              If side is 'Buy' Quote currency is the asset you want to receive If side is 'Sell'
                              Quote currency is the asset you want to sell
                          base_currency:
                            type: string
                            description:
                              If side is 'Buy' Base currency is the asset you want to sell If side is 'Sell' Base
                              currency is the asset you want to receive
                          side:
                            type: string
                            description: Counterparty side
                          base_quantity:
                            type: number
                            description: Order quantity as per firm quote
                          price:
                            type: number
                            description: Quoted unit price
                          total_amount:
                            type: number
                            description: Indicative total price inclusive of fees
              example:
                data:
                  order_id: '122121'
                  status: SUCCESSFUL
                  quote_currency: USDC
                  base_currency: PHP
                  side: sell
                  base_quantity: 100
                  price: 55
                  total_amount: 5500
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/crypto/deposit:
    get:
      summary: Get Wallet (for Crypto Deposits)
      tags:
        - Funding
      operationId: get_wallet__for_crypto_deposits
      description: Deposit into your crypto wallet using the address returned by this endpoint.
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/Token'
          description: Currency symbol including network of crypto token  e.g USDCXLM
          required: true
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          currency:
                            type: string
                            description: Currency symbol
                          address:
                            type: string
                            description: Wallet address
                          tag:
                            type: string
                            description: Address tag or memo
              example:
                data:
                  currency: USDCXLM
                  address: GA54SPC34JL3I57ENALTO2V26XOFFG4VGQLFQXDGF6KJ5TJY7ODY56ST
                  tag: '123123123'
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/fiat/deposit:
    post:
      summary: POST Fiat In (for Fiat Deposits)
      tags:
        - Funding
      operationId: post_fiat_in__for_fiat_deposits
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: Amount to be sent to beneficiary
                method:
                  $ref: '#/components/schemas/FiatInMethod'
                identifier:
                  type: string
                  description: Unique identifier supplied by client
                sender_first_name:
                  type: string
                  description: Sender first name
                sender_middle_name:
                  type: string
                  description: Sender middle name
                sender_last_name:
                  type: string
                  description: Sender last name
                sender_country_origin:
                  $ref: '#/components/schemas/Country'
                  description: Where the sender is sending the funds from
                sender_address_line_one:
                  type: string
                  description: Address line 1
                sender_address_line_two:
                  type: string
                  description: Address line 2
                sender_city:
                  type: string
                  description: City
                sender_province:
                  type: string
                  description: Province
                sender_country:
                  $ref: '#/components/schemas/Country'
                sender_zip_code:
                  type: string
                  description: Zip code
                sender_phone_number:
                  type: string
                  description: Phone number
                sender_nationality:
                  $ref: '#/components/schemas/Country'
                sender_national_identity_number:
                  type: string
                  description: Alphanumeric code from national IDs / government IDs
                sender_dob:
                  type: string
                  description: Date of birth for individuals / Date of Incorporation for businessesmm-dd-yyyy format
                sender_place_of_birth:
                  type: string
                  description: Place of birth for individuals / place of incorporation for businesses
                source_of_funds:
                  $ref: '#/components/schemas/SourceOfFunds'
                  description: Source of funds
                sender_email:
                  type: string
                  description: Sender's email
                beneficiary_first_name:
                  type: string
                  description: Beneficiary first name
                beneficiary_middle_name:
                  type: string
                  description: Beneficiary middle name
                beneficiary_last_name:
                  type: string
                  description: Beneficiary last name
                beneficiary_sex:
                  $ref: '#/components/schemas/Sex'
                  description: Sex of beneficiary
                beneficiary_nationality:
                  $ref: '#/components/schemas/Country'
                  description: Nationality of the beneficiary
                beneficiary_dob:
                  type: string
                  description: Date of birth for individuals / Date of Incorporation for businesses
                beneficiary_address_line_one:
                  type: string
                  description: Beneficiary address line 1
                beneficiary_address_line_two:
                  type: string
                  description: Beneficiary address line 2
                beneficiary_barangay:
                  type: string
                  description: Barangay of beneficiary
                beneficiary_city:
                  type: string
                  description: City of beneficiary
                beneficiary_province:
                  type: string
                  description: Province of beneficiary
                beneficiary_country:
                  $ref: '#/components/schemas/Country'
                  description: Country of beneficiary
                beneficiary_zip_code:
                  type: string
                  description: Zip code of beneficiary
                beneficiary_phone_number:
                  type: string
                  description: Phone number of beneficiary
                beneficiary_government_issued_id:
                  type: string
                  description: Government issued id of beneficiary
                purpose:
                  $ref: '#/components/schemas/Purpose'
                  description: Purpose of the transaction
                relationship_of_sender_to_beneficiary:
                  $ref: '#/components/schemas/Relationship'
                  description: Relationship of sender to beneficiary
                currency:
                  type: string
                  description: Currency of the withdrawalPHP
                nature_of_business:
                  type: string
                  description: Nature of business of beneficiary
              required:
                - amount
                - method
                - identifier
                - sender_first_name
                - sender_middle_name
                - sender_last_name
                - sender_country_origin
                - source_of_funds
                - beneficiary_first_name
                - beneficiary_middle_name
                - beneficiary_last_name
                - purpose
                - relationship_of_sender_to_beneficiary
                - currency
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: The request id for your transaction
                  identifier:
                    type: string
                    description: Unique identifier supplied by partner
                  reference_number:
                    type: string
                    description: Reference number of the transaction
                  amount:
                    type: number
                    description: Withdrawal amount
                  method:
                    type: string
                    description: The chosen method for the fiat deposit
                  payment_checkout_url:
                    type: string
                    description: The url to make the deposit,
                  fee:
                    type: number
                    description: Amount collected for fees
                  status:
                    type: string
                    description: 'Possible values: PENDING'
              example:
                request_id: a3bb3030-6974-11ed-998b-ef1ff47430fe
                identifier: Zek_141
                reference_number: eyJ0IjoiYW54IiwibSI6ImNpIiwiciI6ImVTaUNCa1hXIn0=
                amount: 48000
                method: gcash_cashin
                payment_checkout_url: https://test-sources.paymongo.com/sources?id=src_ccURUdNjV9zjBsbph4rDZ6Bu
                fee: 30
                status: PENDING
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/fiat/withdraw:
    post:
      summary: POST Fiat Out
      tags:
        - Withdrawals
      operationId: post_fiat_out
      description: Withdraw Fiat from your account to a beneficiary
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: Unique identifier supplied by client
                sender_first_name:
                  type: string
                  description: Sender first name
                sender_middle_name:
                  type: string
                  description: Sender middle name
                sender_last_name:
                  type: string
                  description: Sender last name
                sender_country_origin:
                  $ref: '#/components/schemas/Country'
                  description: Where the sender is sending the funds from
                sender_address_line_one:
                  type: string
                  description: Address line line one
                sender_address_line_two:
                  type: string
                  description: Address line line two
                sender_city:
                  type: string
                  description: City
                sender_province:
                  type: string
                  description: Province
                sender_country:
                  $ref: '#/components/schemas/Country'
                sender_zip_code:
                  type: string
                  description: Zip code
                sender_phone_number:
                  type: string
                  description: Phone number
                sender_nationality:
                  $ref: '#/components/schemas/Country'
                sender_national_identity_number:
                  type: string
                  description: Alphanumeric code from national IDs / government IDs
                sender_dob:
                  type: string
                  description: Date of birth for individuals / Date of Incorporation for businessesmm-dd-yyyy format
                sender_place_of_birth:
                  type: string
                  description: Place of birth for individuals / place of incorporation for businesses
                source_of_funds:
                  $ref: '#/components/schemas/SourceOfFunds'
                  description: Source of funds
                sender_email:
                  type: string
                  description: Sender's email
                fee_type:
                  $ref: '#/components/schemas/FeeType'
                  description:
                    Fiat out fee to be shouldered either by Sender or Beneficiary, you may opt to choose either
                    option to determine where fees will be debited from
                beneficiary_first_name:
                  type: string
                  description: Beneficiary first name
                beneficiary_middle_name:
                  type: string
                  description: Beneficiary middle name
                beneficiary_last_name:
                  type: string
                  description: Beneficiary last name
                beneficiary_sex:
                  $ref: '#/components/schemas/Sex'
                  description: Sex of beneficiary
                beneficiary_nationality:
                  $ref: '#/components/schemas/Country'
                  description: Nationality of the beneficiary
                beneficiary_dob:
                  type: string
                  description: Date of birth for individuals / Date of Incorporation for businesses
                beneficiary_bank_code:
                  $ref: '#/components/schemas/BankCode'
                  description: Bank code to determine which bank the funds will arrive at
                beneficiary_account_name:
                  type: string
                  description: Bank account name of the beneficiary
                beneficiary_account_number:
                  type: string
                  description: Bank account number of the beneficiary
                beneficiary_address_line_one:
                  type: string
                  description: Beneficiary address line 1
                beneficiary_address_line_two:
                  type: string
                  description: Beneficiary address line 2
                beneficiary_barangay:
                  type: string
                  description: Barangay of beneficiary
                beneficiary_city:
                  type: string
                  description: City of beneficiary
                beneficiary_province:
                  type: string
                  description: Province of beneficiary
                beneficiary_country:
                  $ref: '#/components/schemas/Country'
                  description: Country of beneficiary
                beneficiary_zip_code:
                  type: string
                  description: Zip code of beneficiary
                beneficiary_phone_number:
                  type: string
                  description: Phone number of beneficiary
                beneficiary_government_issued_id:
                  type: string
                  description: Government issued id of beneficiary
                nature_of_business:
                  type: string
                  description: Nature of business of beneficiary
                purpose:
                  $ref: '#/components/schemas/Purpose'
                  description: Purpose of the transaction
                relationship_of_sender_to_beneficiary:
                  $ref: '#/components/schemas/Relationship'
                  description: Relationship of sender to beneficiary
                currency:
                  type: string
                  description: Currency of the withdrawalPHP
                amount:
                  type: string
                  description: Amount to be sent to beneficiary
                method:
                  $ref: '#/components/schemas/FiatOutMethod'
                instructions:
                  type: string
                  description: Other instructions
              required:
                - identifier
                - sender_first_name
                - sender_middle_name
                - sender_last_name
                - sender_country_origin
                - source_of_funds
                - fee_type
                - beneficiary_first_name
                - beneficiary_middle_name
                - beneficiary_last_name
                - beneficiary_bank_code
                - beneficiary_account_name
                - beneficiary_account_number
                - purpose
                - relationship_of_sender_to_beneficiary
                - currency
                - amount
                - method
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          request_id:
                            type: string
                            description: The request id for your transaction
                          identifier:
                            type: string
                            description: Unique identifier supplied by partner
                          reference_number:
                            type: string
                            description: Reference number of the transaction
                          amount:
                            type: number
                            description: Withdrawal amount
                          method:
                            type: string
                            description: The chosen method for the fiat deposit
                          fee:
                            type: number
                            description: Amount collected for fees
                          status:
                            type: string
                            description: 'Possible values: PENDING'
                          retry_methods:
                            type: array
                            items:
                              type: object
                              properties:
                                request_id:
                                  type: string
                                channel:
                                  type: string
                                status:
                                  type: string
                                fail_reason:
                                  type: string
                                time:
                                  type: string
                            description: The information of each attempted payment channel
              example:
                data:
                  identifier: ABC123
                  reference_number: eyJ0IjoiYW54IiwibSI6ImNvIiwiciI6ImMydTFIektVIn0=
                  amount: 1000
                  method: PAY-TO-ACCOUNT-NON-REAL-TIME
                  retry_methods:
                    - request_id: a3bb3320-6974-11ed-998b-ef1ff47430fv
                      channel: ubp_partner_cashout
                      status: failed
                      fail_reason: Internal Server Error
                      time: '2024-02-15T07:25:09.850Z'
                    - request_id: a3bb3030-6974-11ed-998b-ef1ff47430fe
                      channel: instapay_emi_p2p_cashout
                      status: success
                      fail_reason: ''
                      time: '2024-02-15T07:25:09.850Z'
                  status: PENDING
                  fee: 0
                status: success
        '400':
          $ref: '#/components/responses/PostFiatOutError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PostFiatOutError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/crypto/withdraw:
    post:
      summary: POST Crypto Out
      tags:
        - Withdrawals
      operationId: post_crypto_out
      description: Withdraw Crypto from your account to a beneficiary
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: Unique identifier supplied by client
                currency:
                  $ref: '#/components/schemas/Token'
                  description: Cryptocurrency token that you would like to withdraw. Please see here for accepted tokens.
                address:
                  type: string
                  description: Wallet address of the beneficiary
                amount:
                  type: string
                  description: Amount of crypto to be withdrawn
                tag:
                  type: string
                  description: Address tag
                beneficiary_first_name:
                  type: string
                  description: First name of the beneficiary
                beneficiary_last_name:
                  type: string
                  description: Last name of the beneficiary
                beneficiary_exchange:
                  type: string
                  description: Receiving exchange of the beneficiary.
                send_to_self:
                  type: string
                  description: Parameter to indicate if withdrawal is to be sent to your own account in a different exchange
                beneficiary_wallet:
                  type: string
                  description: Parameter to indicate if withdrawal is to be sent to a custodial or decentralized wallet
              required:
                - identifier
                - currency
                - address
                - amount
                - beneficiary_first_name
                - beneficiary_last_name
                - beneficiary_exchange
                - send_to_self
                - beneficiary_wallet
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                    description: Unique identifier supplied by client
                  transaction_id:
                    type: number
                    description: Unique transaction ID of the withdrawal
                  amount:
                    type: string
                    description: Withdrawal amount exclusive of fees
                  address:
                    type: string
                    description: Wallet address of the beneficiary
                  tag:
                    type: string
                    description: Address tag
                  total:
                    type: string
                    description: The amount of crypto being withdrawn, including network fees
                  fee:
                    type: string
                    description: The network fee of the transaction
                  currency:
                    type: string
                    description: The crypto token being withdrawn
                  status:
                    type: string
                    description: 'Possible values: IN PROGRESS'
                  created_at:
                    type: string
                    description: The date and time when the transaction was created
              example:
                identifier: ABC123
                transaction_id: 23449
                transaction_hash: ''
                amount: '2.3'
                address: '0xa9197cdf1ca5b15d1ec11213fce4460036e65f72'
                tag: '33444'
                total: '3'
                fee: '0.7'
                currency: UNI
                status: IN PROGRESS
                created_at: '1693851861402'
        '400':
          $ref: '#/components/responses/PostCryptoOutError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PostCryptoOutError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/fiat/transactions:
    get:
      summary: GET Fiat Transactions
      tags:
        - Deposit and Withdrawal check
      operationId: get_fiat_transactions
      description: Track your Fiat deposits and withdrawals by querying the identifier or mode of the transaction
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: mode
          in: query
          schema:
            type: string
          description: The mode of the transaction CashInCashOut
        - name: identifier
          in: query
          schema:
            type: string
          description: Unique identifier supplied by client
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            request_id:
                              type: string
                              description: The request id for your transaction
                            transaction_id:
                              type: string
                              description: Transaction id from the deposit / withdrawal
                            amount:
                              type: number
                              description: Amount of the deposit / withdrawal
                            fee:
                              type: number
                              description: PDAX fee implemented on the deposit / withdrawal
                            method:
                              type: string
                            mode:
                              type: string
                              description: The mode of the transaction, either Cash In or Cash Out
                            reference_number:
                              type: string
                              description: The reference number generated from the Cash In or Cash Out transaction
                            fulfilled_at:
                              type: string
                              description: If fulfilledAt contains a date and time, it is successful  If blank, it is pending
                            declined_at:
                              type: string
                              description: If declinedAt contains a date and time, its failed  If blank, it is pending
                            rejection_reason:
                              type: string
                              description:
                                If the transaction failed, value is the reason why transaction was rejected  If the
                                transaction is success, value is null
                            currency:
                              type: string
                              description: Currency of the transaction
                            created_at:
                              type: string
                              description: Timestamp of the transaction when it was created
                            updated_at:
                              type: string
                              description: Timestamp of the transaction when it was updated
                            status:
                              type: string
                              description: 'Possible values: IN-PROGRESS, COMPLETED, FAILED'
                            identifier:
                              type: string
                              description: Unique identifier supplied by client
                            fee_type:
                              type: string
                              description: Fiat out fee to be shouldered either by Sender or Beneficiary
                            retried_methods:
                              type: array
                              description: Attempts per transaction
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/crypto/transactions:
    get:
      summary: GET Crypto Transactions
      tags:
        - Deposit and Withdrawal check
      operationId: get_crypto_transactions
      description: Track your crypto deposits and withdrawals by querying the identifier or transaction hash
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: identifier
          in: query
          schema:
            type: string
          description: Unique identifier supplied by client
        - name: txn_hash
          in: query
          schema:
            type: string
          description: Transaction hash
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            transaction_id:
                              type: string
                              description: Transaction id from the deposit / withdrawal
                            type:
                              type: string
                              description: Type of transaction
                            debit_ccy:
                              type: string
                              description: Currency of the debited amount
                            credit_ccy:
                              type: string
                              description: Currency of the credited amount
                            debit_amount:
                              type: string
                              description: Amount debited from the PDAX wallet
                            debit_net_amount:
                              type: string
                              description: Net amount debited from the PDAX wallet (less fees)
                            credit_amount:
                              type: string
                              description: Amount credited to the PDAX wallet
                            credit_net_amount:
                              type: string
                              description: Net amount debited from the PDAX wallet (less fees)
                            fee_amount:
                              type: string
                              description: The fees from the transaction
                            status:
                              type: string
                              description: 'Possible values: pending, completed, failed'
                            created_at:
                              type: string
                              description: Timestamp of the transaction when it was created
                            txn_hash:
                              type: string
                              description: Unique identifier that is used to track the transaction on the blockchain
                            sender_email:
                              type: string
                              description: Email of the sender
                            sender_wallet_address:
                              type: string
                              description: Wallet address of the sender
                            sender_wallet_address_tag:
                              type: string
                              description: Wallet address tag of the sender
                            receiver_email:
                              type: string
                              description: Receiver email
                            receiver_wallet_address:
                              type: string
                              description: Receiver wallet address
                            receiver_wallet_address_tag:
                              type: string
                              description: Receiver wallet address tag
              example:
                data:
                  - transaction_id: 22829
                    type: crypto_in
                    debit_ccy: null
                    credit_ccy: UNI
                    debit_amount: '0'
                    debit_net_amount: '0'
                    credit_amount: '0.68'
                    credit_net_amount: '0.68'
                    fee_amount: '0'
                    status: completed
                    created_at: '2023-07-17T11:06:25.285Z'
                    txn_hash: '0xb14b15995b6456ac9b5c67ac53258084778a9eaa913bdecd8e7f32f03cc0b3b0'
                    sender_email: null
                    sender_wallet_address: null
                    sender_wallet_address_tag: null
                    receiver_email: null
                    receiver_wallet_address: null
                    receiver_wallet_address_tag: null
                status: success
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/balances:
    get:
      summary: Get Balances
      tags:
        - Balances
      operationId: get_balances
      description: View the balance of all assets.
      security:
        - bearerAuth: []
          idToken: []
      parameters:
        - name: currency
          in: query
          schema:
            type: string
          description: Currency
      responses:
        '200':
          description: Schema of Response Payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              description: Currency
                            available:
                              type: string
                              description: Currency available for withdrawal and for trading
                            hold:
                              type: string
                              description: Currency balance held due to open orders or pending withdrawal
                            total:
                              type: string
                              description: The total balance sum of available and hold
                            asset_type:
                              type: string
                              description: Fiat or Crypto
              example:
                data:
                  - currency: USDCXLM
                    available: '1000001'
                    hold: '0'
                    total: '1000001'
                    asset_type: CRYPTO
                  - currency: PHP
                    available: '1000001'
                    hold: '0'
                    total: '1000001'
                    asset_type: FIAT
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
  /pdax-institution/v1/config/webhook:
    post:
      summary: Register webhook endpoint
      tags:
        - Webhook
      operationId: register_webhook_endpoint
      description:
        Register a URL to receive webhook events for fiat or crypto transactions. Set `event_type` to `crypto`
        or `fiat`. To receive both, register twice.
      security:
        - bearerAuth: []
          idToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  enum:
                    - crypto
                    - fiat
                  description: Which event stream to subscribe to.
                webhook_endpoint:
                  type: string
                  description: Your deployed webhook endpoint.
              required:
                - event_type
                - webhook_endpoint
      responses:
        '200':
          description: Webhook registered
        '400':
          $ref: '#/components/responses/PdaxError400'
        '401':
          $ref: '#/components/responses/PdaxError401'
        '500':
          $ref: '#/components/responses/PdaxError500'
        '503':
          $ref: '#/components/responses/PdaxError503'
webhooks:
  crypto_transactions:
    post:
      summary: Webhook Events for Crypto Transactions
      operationId: crypto_transactions_webhook
      description:
        PDAX delivers this payload to your registered webhook endpoint when a crypto transaction event occurs.
        Register your URL via `POST /pdax-institution/v1/config/webhook` to start receiving.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoWebhookEvent'
      responses:
        '200':
          description: Webhook acknowledged
  fiat_transactions:
    post:
      summary: Webhook Events for Fiat Transactions
      operationId: fiat_transactions_webhook
      description:
        PDAX delivers this payload to your registered webhook endpoint when a fiat transaction event occurs. Register
        your URL via `POST /pdax-institution/v1/config/webhook` to start receiving.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiatWebhookEvent'
      responses:
        '200':
          description: Webhook acknowledged
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: access_token
      description: JWT access token from the login endpoint
    idToken:
      type: apiKey
      in: header
      name: id_token
      description: JWT identity token from the login endpoint
  schemas:
    SuccessEnvelope:
      type: object
      description:
        Standard PDAX success response envelope. Every successful response wraps its payload in this shape. Endpoints
        override the `data` field's type via `allOf` — single-object endpoints set it to a typed object, list endpoints set
        it to a typed array.
      properties:
        status:
          type: string
          example: success
        data:
          description: Endpoint-specific payload. See the per-endpoint response schema for the actual shape (object or array).
      required:
        - data
        - status
    ErrorEnvelope:
      type: object
      description:
        Standard PDAX error response envelope. Specific endpoints constrain the `code` field to a known enum via
        `allOf` in their response components.
      properties:
        status:
          type: string
          example: error
        code:
          type: string
          description: PDAX-assigned machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
      required:
        - code
        - message
    Country:
      type: string
      description: Country accepted by PDAX, sourced from the docs' Accepted Country List.
      enum:
        - Algeria
        - Albania
        - Antigua and Barbuda
        - Armenia
        - Angola
        - Andorra
        - Austria
        - Bahamas
        - Argentina
        - Australia
        - Azerbaijan
        - Bahrain
        - Barbados
        - Bangladesh
        - Belgium
        - Belize
        - Benin
        - Bhutan
        - Bolivia
        - Bosnia and Herzegovina
        - Botswana
        - Brazil
        - Brunei
        - Bulgaria
        - Burkina Faso
        - Burundi
        - Cabo Verde
        - Cambodia
        - Cameroon
        - Canada
        - Chad
        - Chile
        - Colombia
        - China
        - Comoros
        - Congo
        - Croatia
        - Costa Rica
        - Cyprus
        - Czech Republic
        - Djibouti
        - Denmark
        - Dominica
        - Dominican Republic
        - Ecuador
        - East Timor
        - Egypt
        - El Salvador
        - Eritrea
        - Estonia
        - Eswatini
        - Fiji
        - France
        - Gabon
        - Gambia
        - Germany
        - Greece
        - Ghana
        - Grenada
        - Guatemala
        - Guinea-Bissau
        - Guinea
        - Guyana
        - Honduras
        - Hungary
        - Iceland
        - India
        - Indonesia
        - Ireland
        - Israel
        - Italy
        - Jamaica
        - Japan
        - Jordan
        - Kazakhstan
        - Kenya
        - Kiribati
        - Kuwait
        - Kyrgyzstan
        - Laos
        - Latvia
        - Lebanon
        - Lesotho
        - Liberia
        - Lithuania
        - Luxembourg
        - Madagascar
        - Malawi
        - Malaysia
        - Maldives
        - Malta
        - Marshall Islands
        - Mauritius
        - Micronesia
        - Monaco
        - Montenegro
        - Mozambique
        - Namibia
        - Nauru
        - Nepal
        - New Zealand
        - Niger
        - Nigeria
        - North Macedonia
        - Norway
        - Oman
        - Pakistan
        - Palau
        - Panama
        - Papua New Guinea
        - Paraguay
        - Peru
        - Poland
        - Portugal
        - Qatar
        - Romania
        - Rwanda
        - Saint Kitts and Nevis
        - Saint Lucia
        - Saint Vincent and the Grenadines
        - Samoa
        - San Marino
        - Sao Tome and Principe
        - Saudi Arabia
        - Senegal
        - Serbia
        - Seychelles
        - Singapore
        - Slovakia
        - Slovenia
        - Solomon Islands
        - South Africa
        - Sri Lanka
        - Suriname
        - Switzerland
        - Taiwan
        - Tanzania
        - Thailand
        - Togo
        - Trinidad and Tobago
        - Turkey
        - Tuvalu
        - United Kingdom
        - United Arab Emirates
        - Uruguay
        - Uzbekistan
        - United States
        - Vatican City
        - Vietnam
        - Zambia
        - Vanuatu
    Token:
      type: string
      description: |-
        Crypto asset symbol. Includes per-network variants (e.g. `USDCXLM` = USDC on Stellar, `USDCSOL` = USDC on Solana). A few symbols (`ETH`, `USDC`, `PYUSD`) appear under multiple networks in the source docs; the enum lists each symbol once but the table below preserves the full network mapping.

        | Token | Network |
        | --- | --- |
        | AAVE | Ethereum (ERC20) |
        | ADA | Cardano |
        | ALGO | Algorand |
        | APE | Ethereum (ERC20) |
        | AVAX | C-chain |
        | AXS | Ronin |
        | BAT | Ethereum (ERC20) |
        | BCH | Bitcoin Cash (BCH) |
        | BNB | BNB Smart Chain (BEP20) |
        | BTC | BTC (SegWit) |
        | COMP | Ethereum (ERC20) |
        | DOGE | Dogecoin |
        | DOT | Polkadot |
        | ENJ | Ethereum (ERC20) |
        | ETH | Ethereum (ERC20) |
        | GALA | Ethereum (ERC20) |
        | GMT | Solana |
        | GRT | Ethereum (ERC20) |
        | HBAR | Hedera |
        | LINK | Ethereum (ERC20) |
        | LTC | Litecoin |
        | MANA | Ethereum (ERC20) |
        | POL | Polygon |
        | PAXG | Ethereum (ERC20) |
        | PEPE | Ethereum (ERC20) |
        | PYUSD | Ethereum (ERC20) |
        | RON | Ronin |
        | SAND | Ethereum (ERC20) |
        | SHIB | Ethereum (ERC20) |
        | SLP | Ronin |
        | SOL | Solana |
        | SUSHI | Ethereum (ERC20) |
        | TON | TON |
        | UNI | Ethereum (ERC20) |
        | USDCSOL | Solana |
        | USDCXLM | Stellar |
        | USDCPOL | Polygon |
        | USDC | Ethereum (ERC20) |
        | USDTPOL | Polygon |
        | USDT | Ethereum (ERC20) |
        | USDTTRX | Tron (TRC20) |
        | WETHPOL | Polygon |
        | XLM | Stellar |
        | XRP | Ripple |
        | XTZ | Tezos |
        | YGGRON | Ronin |
        | CELO | Ethereum (ERC20) |
        | OP | Ethereum (ERC20) |
        | NEAR | Ethereum (ERC20) |
      enum:
        - AAVE
        - ADA
        - ALGO
        - APE
        - AVAX
        - AXS
        - BAT
        - BCH
        - BNB
        - BTC
        - COMP
        - DOGE
        - DOT
        - ENJ
        - ETH
        - GALA
        - GMT
        - GRT
        - HBAR
        - LINK
        - LTC
        - MANA
        - POL
        - PAXG
        - PEPE
        - PYUSD
        - RON
        - SAND
        - SHIB
        - SLP
        - SOL
        - SUSHI
        - TON
        - UNI
        - USDCSOL
        - USDCXLM
        - USDCPOL
        - USDC
        - USDTPOL
        - USDT
        - USDTTRX
        - WETHPOL
        - XLM
        - XRP
        - XTZ
        - YGGRON
        - CELO
        - OP
        - NEAR
    BankCode:
      type: string
      description: |-
        PDAX bank code (used for `beneficiary_bank_code` on /fiat/withdraw). Covers Philippine banks and e-wallet rails. Entity Type distinguishes traditional banks from e-wallets (GCash, Maya, etc.).

        | Code | Name | Entity Type |
        | --- | --- | --- |
        | BAUBPPH | UnionBank | Bank |
        | BAAIBPH | Al-Amanah Islamic Investment Bank | Bank |
        | BAALIPH | Alipay | Bank |
        | BAALLPH | All Bank | Bank |
        | BAAUBPH | Asia United Bank | Bank |
        | BAANZPH | Australia and New Zealand Bank | Bank |
        | BABDOPH | BDO Unibank | Bank |
        | BABDNPH | BDO Network Bank | Bank |
        | BABOTPH | BPI | Bank |
        | BABPIPH | BPI Direct Banko | Bank |
        | BABAKPH | Bangko Kabayan | Bank |
        | BABAMPH | Banko Mabuhay | Bank |
        | BABNSPH | Bangko Nuestra Señora Del Pilar | Bank |
        | BABKBPH | Bangkok Bank | Bank |
        | BABOAPH | Bank Of America | Bank |
        | BABCHPH | Bank of China | Bank |
        | BABOCPH | Bank of Commerce | Bank |
        | BABOFPH | Bank of Florida | Bank |
        | BABOMPH | Bank of Makati | Bank |
        | BACAMPH | Camalig Bank | Bank |
        | BACANPH | Cantilan Bank | Bank |
        | BACABPH | Card Bank | Bank |
        | BACASPH | Card SME | Bank |
        | BACIMPH | CIMB Bank | Bank |
        | BACTBPH | CTBC Bank | Bank |
        | BACLRPH | Cebuana Lhuillier | Bank |
        | BACHBPH | China Bank | Bank |
        | BACBSPH | China Bank Savings | Bank |
        | BACITPH | Citibank | Bank |
        | BACRBPH | Community Rural Bank of Romblon | Bank |
        | BACBBPH | Country Builders Bank | Bank |
        | BADEVPH | Development Bank of Philippines | Bank |
        | BADUNPH | Dungganon Bank Inc. | Bank |
        | BADEBPH | Deutsche Bank | Bank |
        | BADCDPH | Dumaguete City Development Bank | Bank |
        | BAEWBPH | East West Bank | Bank |
        | BAEWRPH | East West Rural Bank | Bank |
        | BAEQSPH | Equicom | Bank |
        | BAFCBPH | First Consolidated Bank | Bank |
        | BAGRBPH | Guagua Rural Bank | Bank |
        | BAGTBPH | GoTyme | Bank |
        | BAHSBPH | HSBC Savings | Bank |
        | BAHSSPH | HSBC Savings | Bank |
        | BAISLPH | Isla Bank | Bank |
        | BAICOPH | Industrial & Commercial Bank of China | Bank |
        | BAIBKPH | Industrial Bank of Korea | Bank |
        | BAINGPH | ING Bank | Bank |
        | BAIVBPH | Innovative Bank | Bank |
        | BAJPMPH | JPMorgan Chase Bank | Bank |
        | BAKEBPH | KEB Hana Bank | Bank |
        | BALABPH | Landbank | Bank |
        | BALSBPH | Legazpi Savings Bank | Bank |
        | BALDBPH | Luzon Development Bank | Bank |
        | BAICBPH | Mega ICBC | Bank |
        | BAMBSPH | Malayan Bank | Bank |
        | BAMAYPH | Maybank | Bank |
        | BAMCCPH | MCCB | Bank |
        | BAMBAPH | Metrobank | Bank |
        | BAMIZPH | Mizuho Bank | Bank |
        | BAMUFPH | MUFG Bank | Bank |
        | BANETPH | Netbank | Bank |
        | BAOMNPH | Omnipay | Bank |
        | BAPBOPH | PBCom | Bank |
        | BAPASPH | Pacific Ace Savings Bank | Bank |
        | BAPRBPH | Partner Rural Bank | Bank |
        | BAPBBPH | Philippine Business Bank | Bank |
        | BAPNBPH | PNB | Bank |
        | BAPBAPH | PS Bank | Bank |
        | BAPTCPH | PhilTrust Bank | Bank |
        | BAPVBPH | Philippine Veterans Bank | Bank |
        | BAPCBPH | Producers Bank | Bank |
        | BAPSBPH | Producers Savings Bank | Bank |
        | BAQBAPH | Queen City Development Bank | Bank |
        | BAQCRPH | QCRB | Bank |
        | BARANPH | Rang-Ay Bank | Bank |
        | BARCBPH | RCBC | Bank |
        | BAROBPH | Robinsons Bank | Bank |
        | BARBOPH | Rural Bank of Guinobatan (Asenso) | Bank |
        | BARBDPH | Rural Bank of Digos | Bank |
        | BARBMPH | Rural Bank of Montalban | Bank |
        | BASECPH | Security Bank | Bank |
        | BASEAPH | Seabank | Bank |
        | BASHBPH | Shinhan Bank | Bank |
        | BASCBPH | Standard Chartered Bank | Bank |
        | BASTAPH | Starpay | Bank |
        | BASBOPH | Sterling Bank of Asia | Bank |
        | BASMBPH | Sumimoto Mitsui Banking | Bank |
        | BASSBPH | Sun Savings Bank | Bank |
        | BATDBPH | Tonik Digital Bank | Bank |
        | BATYBPH | Tong Yang Savings Bank | Bank |
        | BAUCPPH | UCPB Savings Bank | Bank |
        | BAUCCPH | United Coconut Planters Bank | Bank |
        | BAUNOPH | UNObank | Bank |
        | BAUDLPH | UnionDigital | Bank |
        | BAUOVPH | United Overseas Bank Phils. | Bank |
        | BAWEBPH | Wealth Bank | Bank |
        | BAYSBPH | Yuanta Savings Bank | Bank |
        | BAMABPH | Maya Bank | Bank |
        | EWGXCPH | GCash | Ewallet |
        | EWCISPH | Bayad | Ewallet |
        | EWGRAPH | GrabPay | Ewallet |
        | EWLLFPH | Lulu Money | Ewallet |
        | EWPPPH | PalawanPay | Ewallet |
        | EWSPPPH | ShopeePay | Ewallet |
        | EWTACPH | TayoCash | Ewallet |
        | EWUSCPH | USSC | Ewallet |
        | EWJUCPH | Juan Cash | Ewallet |
        | EWPDXPH | Philippine Digital Asset Exchange | Ewallet |
        | EWPAYPH | Maya Wallet | Ewallet |
      enum:
        - BAUBPPH
        - BAAIBPH
        - BAALIPH
        - BAALLPH
        - BAAUBPH
        - BAANZPH
        - BABDOPH
        - BABDNPH
        - BABOTPH
        - BABPIPH
        - BABAKPH
        - BABAMPH
        - BABNSPH
        - BABKBPH
        - BABOAPH
        - BABCHPH
        - BABOCPH
        - BABOFPH
        - BABOMPH
        - BACAMPH
        - BACANPH
        - BACABPH
        - BACASPH
        - BACIMPH
        - BACTBPH
        - BACLRPH
        - BACHBPH
        - BACBSPH
        - BACITPH
        - BACRBPH
        - BACBBPH
        - BADEVPH
        - BADUNPH
        - BADEBPH
        - BADCDPH
        - BAEWBPH
        - BAEWRPH
        - BAEQSPH
        - BAFCBPH
        - BAGRBPH
        - BAGTBPH
        - BAHSBPH
        - BAHSSPH
        - BAISLPH
        - BAICOPH
        - BAIBKPH
        - BAINGPH
        - BAIVBPH
        - BAJPMPH
        - BAKEBPH
        - BALABPH
        - BALSBPH
        - BALDBPH
        - BAICBPH
        - BAMBSPH
        - BAMAYPH
        - BAMCCPH
        - BAMBAPH
        - BAMIZPH
        - BAMUFPH
        - BANETPH
        - BAOMNPH
        - BAPBOPH
        - BAPASPH
        - BAPRBPH
        - BAPBBPH
        - BAPNBPH
        - BAPBAPH
        - BAPTCPH
        - BAPVBPH
        - BAPCBPH
        - BAPSBPH
        - BAQBAPH
        - BAQCRPH
        - BARANPH
        - BARCBPH
        - BAROBPH
        - BARBOPH
        - BARBDPH
        - BARBMPH
        - BASECPH
        - BASEAPH
        - BASHBPH
        - BASCBPH
        - BASTAPH
        - BASBOPH
        - BASMBPH
        - BASSBPH
        - BATDBPH
        - BATYBPH
        - BAUCPPH
        - BAUCCPH
        - BAUNOPH
        - BAUDLPH
        - BAUOVPH
        - BAWEBPH
        - BAYSBPH
        - BAMABPH
        - EWGXCPH
        - EWCISPH
        - EWGRAPH
        - EWLLFPH
        - EWPPPH
        - EWSPPPH
        - EWTACPH
        - EWUSCPH
        - EWJUCPH
        - EWPDXPH
        - EWPAYPH
    FiatInMethod:
      type: string
      description: |-
        Cash-in method for /fiat/deposit (selects the user-facing payment rail). `Source Wallet` describes who the user pays from; `Mode` is the rail behavior (debit pull vs QR scan).

        | Method | Source Wallet | Mode |
        | --- | --- | --- |
        | grabpay_cashin | Grab | Debit Pull |
        | dragonpay | All dragonpay supported banks | Debit Pull |
        | instapay_upay_cashin | All banks and e-wallets with QRPh enabled | Scan QRPh |
      enum:
        - grabpay_cashin
        - dragonpay
        - instapay_upay_cashin
    FiatOutMethod:
      type: string
      description: Cash-out method for /fiat/withdraw (real-time vs batch bank rail).
      enum:
        - PAY-TO-ACCOUNT-REAL-TIME
        - PAY-TO-ACCOUNT-NON-REAL-TIME
    SourceOfFunds:
      type: string
      enum:
        - Compensation
        - Sale/Income from Property
        - Business Income
        - Pension/Benefit from the Government
        - Gift/Donation
        - Sale/Income from Investment
        - Inheritance/Insurance
        - 'Others: <Free Text>'
    Purpose:
      type: string
      description: Purpose of the transaction (per-txn KYC requirement).
      enum:
        - Business Expense/Employee Remittance
        - Business Transaction
        - Gift
        - Loan
        - Donation of Financial Aid
        - Investments/Savings
        - Purchase of Goods
        - Education and Training
        - Travel Expense
        - Family Support
        - Legal Obligation
    FeeType:
      type: string
      description: Whether the sender or beneficiary bears the fiat-out fee.
      enum:
        - Sender
        - Beneficiary
    Sex:
      type: string
      enum:
        - Male
        - Female
    Relationship:
      type: string
      description: Relationship of sender to beneficiary.
      enum:
        - Spouse/Partner
        - Family
        - Acquaintance
        - Colleague
        - Business
        - Myself
    CryptoWebhookEvent:
      description:
        Payload PDAX POSTs to your registered webhook endpoint when a crypto transaction reaches a terminal status.
        The wrapper PDAX actually sends has a `data` envelope; the fields below describe that inner data object.
      type: object
      properties:
        identifier:
          type: string
          description: Unique identifier supplied by client
        user_id:
          type: string
          description: UUID of the user
        reference_id:
          type: string
          description: reference_id from the Crypto Out response payload
        transaction_type:
          type: string
          description: '"The type of transaction   WITHDRAWAL or DEPOSIT"'
        transaction_hash:
          type: string
          description:
            A transaction hash is a unique identifier generated through cryptographic hashing, representing a specific
            transaction and providing a way to trace and verify its details on the blockchain
        amount:
          type: number
          description: The amount being withdrawn or deposited excluding fees
        fee_amount:
          type: number
          description: The fee amount involved in the transaction
        asset:
          type: string
          description: The crypto currency being withdrawn or deposited
        asset_type:
          type: string
          description: The asset of the transaction, Crypto only
        network:
          type: string
          description: The crypto network used to facilitate the transaction
        source_address:
          type: string
          description: Wallet address of the sender
        source_address_tag:
          type: string
          description: Address tag of the sender
        destination_address:
          type: string
          description: Wallet address of the receiver
        destination_address_tag:
          type: string
          description: Address tag of the receiver
        status:
          type: string
          description: 'Possible values: completed, failed'
    FiatWebhookEvent:
      description:
        Payload PDAX POSTs to your registered webhook endpoint when a fiat transaction reaches a terminal status.
        The wrapper PDAX actually sends has a `data` envelope; the fields below describe that inner data object.
      type: object
      properties:
        identifier:
          type: string
          description: Unique identifier supplied by client
        user_id:
          type: string
          description: UUID of the user
        request_id:
          type: string
          description: Request ID of the transaction
        reference_number:
          type: string
          description: reference_number from the Fiat Out response payload
        amount:
          type: number
          description: The amount being withdrawn or deposited excluding fees
        asset:
          type: string
          description: The fiat currency being withdrawn or deposited
        asset_type:
          type: string
          description: The asset of the transaction, PHP only
        transaction_type:
          type: string
          description: The type of transaction WITHDRAWAL or DEPOSIT
        status:
          type: string
          description: 'Possible values: IN-PROGRESS, COMPLETED, FAILED'
        method:
          type: string
          description: The method of which was used for the transaction
        fee:
          type: number
          description: The deposit or withdrawal fee involved in the transaction
  responses:
    PdaxError400:
      description: |-
        Bad request. Possible codes:
        - `PAP0400` (BadRequest): Bad request
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - PAP0400
    PdaxError401:
      description: |-
        Unauthorized — invalid or expired token. Possible codes:
        - `PAP0401` (Unauthorize): Unauthorize
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - PAP0401
    PdaxError500:
      description: |-
        Internal server error. Possible codes:
        - `PAP0500` (InternalServerError): Internal Server Error
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - PAP0500
    PdaxError503:
      description: |-
        Service unavailable. Possible codes:
        - `PAP0503` (ServiceUnavailable): Service unavailable
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - PAP0503
    PostOrderError400:
      description: |-
        Bad request. Possible codes:
        - `OT010000`: Unauthorized access
        - `OT010001`: Request has been made several times
        - `OT010002`: Failed to acquire database lock
        - `OT010003`: ${resource} cannot be found or has been expire
        - `OT010004`: ${resource} cannot be updated for some reason
        - `OT010005`: Retrieval of ${userid}'s wallet failed
        - `OT010006`: Insufficient ${asset} Balance
        - `OT010007`: ${resource} cannot be created for some reason.
        - `OT010008`: Cannot hold specified amounts
        - `OT010009`: Cannot hold specified amounts
        - `OT010010`: Cannot create specified entries
        - `OT010011`: Cannot create specified entries
        - `OT010012`: Cannot reverse hold specified amounts
        - `OT010013`: Cannot reverse hold specified amounts
        - `OT010014`: Invalid quantity step : ${step}
        - `OT010015`: Cannot correct balances
        - `OT010017`: User not found
        - `OT010018`: Invalid parameters
        - `OT010019`: Minimum quantity limit reached
        - `OT010020`: Maximum quantity limit reached
        - `OT010021`: User not allowed to perform transaction
        - `OT010022`: Withdrawal limit reached
        - `OT010023`: Unsupported Transaction
        - `OT010024`: Crypto Transfer not found
        - `OT010026`: Malformed parameters
        - `OT010027`: Order quantity is less than minimum required quantity
        - `OT010028`: Order quantity is greater than maximum required quantity
        - `OT010029`: Invalid Quantity Step
        - `OT010030`: Invalid Price Step
        - `OT010031`: Balance Transfer Approve Not Allowed
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - OT010000
                      - OT010001
                      - OT010002
                      - OT010003
                      - OT010004
                      - OT010005
                      - OT010006
                      - OT010007
                      - OT010008
                      - OT010009
                      - OT010010
                      - OT010011
                      - OT010012
                      - OT010013
                      - OT010014
                      - OT010015
                      - OT010017
                      - OT010018
                      - OT010019
                      - OT010020
                      - OT010021
                      - OT010022
                      - OT010023
                      - OT010024
                      - OT010026
                      - OT010027
                      - OT010028
                      - OT010029
                      - OT010030
                      - OT010031
    PostOrderError500:
      description: |-
        Internal server error. Possible codes:
        - `OT010016`: Asset unavailable
        - `OT010025`: ${resource} is inaccessible
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorEnvelope'
              - type: object
                properties:
                  code:
                    type: string
                    enum:
                      - OT010016
                      - OT010025
    PostFiatOutError400:
      description: |-
        Bad request. Possible codes:
        - `Missing identifier`: identifier is required
        - `Missing sender_first_name`: sender_first_name is required
        - `Missing sender_middle_name`: sender_middle_name is required
        - `Missing sender_last_name`: sender_last_name is required
        - `Missing sender_country_origin`: sender_country_origin is required
        - `Missing source_of_funds`: source_of_funds is required
        - `Missing beneficiary_first_name`: beneficiary_first_name is required
        - `Missing beneficiary_middle_name`: beneficiary_middle_name is required
        - `Missing beneficiary_last_name`: beneficiary_last_name is required
        - `Missing beneficiary_account_name`: beneficiary_account_name is required
        - `Missing beneficiary_account_number`: beneficiary_account_number is required
        - `Missing purpose`: purpose is required
        - `Missing relationship_of_sender_to_beneficiary`: relationship_of_sender_to_beneficiary is required
        - `Missing currency`: Currency only accept PHP
        - `Missing amount`: amount is required and should be greater than 0. Until 2 decimal places
        - `Missing method`: Method {{param.method}} is not supported!
        - `Missing beneficiary_bank_code`: beneficiary_bank_code is required
        - `Invalid sender_country_origin`: sender_country_origin is not valid, Accepted value are:  [List of countries]
        - `Invalid sender_nationality`: sender_nationality is not valid. Accepted value are:  [List of countries]
        - `Invalid sender_country`: sender_country is not valid, Accepted value are:  [List of countries]
        - `Invalid beneficiary_country`: beneficiary_country is not valid, Accepted value are:  [List of countries]
        - `Invalid beneficiary_nationality`: beneficiary_nationality is not valid, Accepted value are:  [List of countries]
        - `Invalid sender_phone_number`: sender_phone_number is not valid, accept numeric only, no + symbol allowed or special characters
        - `Invalid sender DOB`: sender_dob is not valid, error: Please use correct format mm-dd-yyyy
        - `Invalid sender_email`: sender_email is not valid.
        - `Invalid source_of_funds`: source_of_funds is not valid, Accepted value are: Compensation, Sale/Income from Property, Business Income, Pension/Benefit from the Government, Gift/Donation, etc.
        - `Invalid sex`: beneficiary_sex is not valid, Accepted value are: Male, Female
        - `Invalid sender_zip_code`: sender_zip_code is not valid
        - `Invalid beneficiary_zip_code`: beneficiary_zip_code is not valid
        - `Invalid beneficiary_phone_number`: beneficiary_phone_number is not valid, accept numeric only, no + symbol allowed or special characters
        - `Invalid beneficiary DOB`: beneficiary_dob is not valid, error: Please use correct format mm-dd-yyyy
        - `Invalid purpose`: purpose is not valid, Accepted value are: Business Expense/Employee Remittance, Business Transaction, Gift, Loan, Donation of Financial Aid, etc.
        - `Invalid relationship_of_sender_to_beneficiary`: relationship_of_sender_to_beneficiary is not valid, Accepted value are: Spouse/Partner, Family, Acquaintance, Colleague, Business, Myself
        - `Invalid currency`: Currency only accept PHP
        - `Invalid amount`: amount is required and should be greater than 0. Until 2 decimal places
        - `Invalid fee_type`: fee_type is not valid, Accepted value are: Sender, Beneficiary
        - `Invalid method`: Method {{param.method}} is not supported!
        - `Invalid beneficiary_bank_code`: Bank code {{param.beneficiary_bank_code}} is not valid
        - `Identifier previously used. Identifier value should be unique for each request.`: Transaction identifier {{param.identity}} is already existing!
        - `Required field for amount >= 50k PHP`: Must provide either Sender Address Information or Sender National Identity Number or Sender Date Of Birth and Sender Place of Birth for amount >= 50,000 PHP
        - `Amount exceeds the maximum for PAY-TO-ACCOUNT-REAL-TIME method`: Could not process real-time payment with amount greater than 50,000 PHP
        - `Maximum Limit (UBP)`: Could not process ubp/pesonet payment with amount greater than 10,000,000 PHP
        - `Amount exceeds the maximum for PAY-TO-ACCOUNT-NON-REAL-TIME method`: Could not process ubp/pesonet payment with amount greater than 10,000,000 PHP
        - `Account has insufficient funds for the request`: There is insufficient funds in your account. Top-up your account and try again.
        - `Unauthorized`: Invalid Session
        - ``: Amount is below the minimum for PAY-TO-ACCOUNT-REAL-TIME or PAY-TO-ACCOUNT-NON-REAL-TIME methods
        - ``: User is blocked from withdrawing
[...]
